* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    font-size: 35px;
    font-family: 'Pushster', cursive;
    text-align: Left;
    padding: 10px;
    color: white;
    background-color: #000;
    padding-left: 50px;
}

#header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #000;
    position: fixed;
}

#header nav {
    margin-right: 50px;
    margin-left: auto;
}

#header nav ul {
    display: flex;
    text-align: right;
}

#header nav ul li {
    margin-right: 25px;
    font-size: 20px;
    padding-left: 4px;
    padding-right: 4px;
    /* padding-bottom: 10px; */
}

#header nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Spline Sans', sans-serif;
    padding: 10px;
    transition: .7s;
}

#header nav ul li a:hover {
    color: gray;
}

#temp1 {
    height: 300px;
    border-radius: 15px;
    cursor: pointer;
    transition: .7s;
}

#temp2 {
    height: 300px;
    margin-left: 30px;
    border-radius: 15px;
    cursor: pointer;
    transition: .7s;
}

#temp2:hover {
    height: 295px;
    padding-right: 10px;
}

#temp1:hover {
    height: 295px;
}

#htemp {
    display: flex;
    flex-direction: row;
    width: 900px;
    overflow-x: scroll;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

::-webkit-scrollbar {
    width: 0px;
}

.center {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin-top: 60px;
}

.one img {
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    margin: 20px;
}

.one h2 {
    padding: 10px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
}

.one {
    background-color: rgba(255, 192, 203, 0.404);
    padding: 20px;
    width: 46%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    height: 390px;
}

.two img {
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    margin: 20px;
}

.two h2 {
    padding: 10px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
}

.two {
    background-color: rgba(255, 255, 0, 0.171);
    padding: 20px;
    width: 46%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    margin: 20px;
    cursor: pointer;
    height: 390px;
}

.three img {
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    margin: 20px;
}

.three h2 {
    padding: 10px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
}

.three {
    background-color: rgba(185, 41, 185, 0.151);
    padding: 20px;
    width: 46%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    margin: 20px;
    cursor: pointer;
    height: 390px;
}

.four img {
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    margin: 20px;
    font-size: 28px;
}

.four h2 {
    padding: 10px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-family: 'Rubik', sans-serif;
}

.four {
    background-color: rgba(255, 166, 0, 0.116);
    padding: 20px;
    width: 46%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    margin: 20px;
    cursor: pointer;
    height: 390px;
}

.five img {
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    margin: 20px;
}

.five h2 {
    padding: 10px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
}

.five {
    background-color: rgba(147, 224, 147, 0.253);
    padding: 20px;
    width: 46%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
    height: 390px;
}

.middle {
    margin-top: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.middle h2 {
    padding: 20px;
    padding-bottom: 60px;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
}

.middle .m1 img {
    height: 150px;
    margin: 10px;
}

.middle .m1 p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: rgba(255, 68, 0, 0.842);
    margin: 10px;
}

.middle .m1 h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    margin: 10px;
}

.middle .m1 a {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: gray;
    text-decoration: none;
    margin: 5px;
}

.middle {
    padding: 20px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.m1 {
    background-color: white;
    padding: 20px;
    width: max-content;
    height: 330px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: 10px;
    border: 1px solid #ededed;
    border-image-outset: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

#img1 {
    width: 130px;
    height: 150px;
}

.flow {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin-left: auto;
    margin-right: auto;
}

#img2 {
    height: 400px;
    border-radius: 10px;
    border: 1px solid #ededed;
    margin-top: 30px;
    cursor: pointer;
    transition: .5s;
}

#img2:hover {
    height: 410px;
}

footer .top {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    justify-content: space-between;
}

footer .top i {
    font-size: 30px;
    color: gray;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    transition: .4s;
}

footer {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(211, 211, 211, 0.623);
}

#m4 {
    margin-left: auto;
    margin-right: auto;
    color: gray;
}

footer .top i:hover {
    font-size: 33px;
}